.highlight-wrapp {
    margin: 100px 0;
    background-color: var(--white-color);
    .title {
        font-family: "Playfair Display", serif;
        font-size: 4rem;
        text-align: center;
        margin: auto;
        max-width: 1120px;
        width: 100%;
        color: var(--text-color);
        display: block;
    }
}
